<div id="orderEdit" class="ui-widget">
	<form id="formOrderEdit">
		<h2 class="ui-widget-header">Order</h2>
		<fieldset>
			<div id="order" class="ui-widget-content">
				<div>
					<label for="inputOrderCode">Code</label>
					<input id="inputOrderCode" name="code" value={{code.value}}></input>
				</div>
				
				<div>
					<label for="inputPONumber">PO Number</label>
					<input id="inputPONumber" value={{poNumber.value}}></input>
				</div>
				
				<div>
					<label for="selectStatus">Status</label>
					<select id="selectStatus" value={{status.value}}>
						<option selected={{status.value}}>Open</option>
						<option selected={{status.value}}>Closed</option>
						<option selected={{status.value}}>Pending</option>
						<option selected={{status.value}}>Ordered</option>
					</select>
				</div>
			</div>
		</fieldset>
	</form>		
</div>
