body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/bg-rock.jpg");
  height: 900px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

#content {
  background: none repeat scroll 0 0 #f1f1f1;
    Margin: 0 auto;
    
    box-shadow: 0 11px 8px -3px #555555;
    height: 575px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    width: 851px;
    
}

#Navigation {
  background: none repeat scroll 0 0 #4986B2;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 3px 8px -2px #222222;
    float: left;
    height: 630px;
    margin-top: 36px;
    width: 183px;
}

#container {
width: 100%;
height: 83%;
 
 padding-top: 50px;
}

#wrapper {

width: 948px;
margin: 0 auto;
}

header {
 
    height: 71px;
    margin: 0 auto;
    width: 967px;
	}
	
#Navigation .heading {
color: #FFFFFF;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
	font-family: 'Quando', serif;
}	

#contentwrap {

  
    
    height: 650px;
    
    padding-left: 24px;
    padding-right: 24px;
    
    width: 700px;
	}
	
#headwrap {
margin: 0 auto;
    padding-top: 38px;
    width: 900px;
}

#address {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
width:580px;
height:310px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 12px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #333;
text-decoration: none;

padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
padding-left: 50px;
}

input    {
width:500px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.col-left {
width: 500px;

}
#address #company {
width: 200px;
}

#address #address3 {
width: 200px;
}

#address h1 {
font-size: 14px;
}
#order-wrap {
width: 900px;
height: 800px;
background: #f1f1f1;
}
.customer-partial {
width: 500px;
height: 200px;
background: #555;
float: left;
}


