body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: none repeat scroll 0 0 #F5F5F5;
  
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

#content {
  background: none repeat scroll 0 0 #ffffff;
    Margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    width: 940px;
	margin-bottom: 50px;
	padding-bottom: 40px;
    
}

#top {
  height: 21px;
    margin: 0 auto;
    padding-left: 54px;
    padding-top: 24px;
    width: 1000px;
}

#top .logo {
color: #FFFFFF;
    font-family: 'Lobster',cursive;
    font-size: 35px;
    position: relative;
}

#main-frame {
    margin: -169px auto 0;
    position: relative;
    width: 1000px;
    z-index: 10;
}

#Navigation {
  background: none repeat scroll 0 0 #4986B2;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 3px 8px -2px #222222;
    float: left;
    height: 630px;
    margin-top: 36px;
    width: 183px;
}

#container {
width: 100%;
height: 100%;
background-image: url('../images/bg-body.gif'); 
 
}

#bg-gray {
 border-top: 1px solid #B9BDC3;
    height: 169px;
    position: relative;
    width: 100%;
    z-index: 0
	
	}
#bg-gray {
background: url('../images/light.png') no-repeat scroll center top #303437;
}	

#wrapper {

width: 991px;
margin: 0 auto;
position: relative;
}

header {
 
    height: 71px;
    margin: 0 auto;
    width: 1000px;
	}
	
#Navigation .heading {
color: #FFFFFF;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
	font-family: 'Quando', serif;
}	

#contentwrap {

  
    
    height: 650px;
    
   
    
    
	}
	
#headwrap {
margin: 0 auto;
    padding-top: 38px;
    width: 988px;
	background: none repeat scroll 0 0 transparent;
}

#address {

margin:auto;
position:relative;
width:580px;
height:227px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 12px;

line-height: 24px;
font-weight: bold;
color: #333;
text-decoration: none;

padding:10px;
margin-bottom: 20px;
border: inset 1px solid #333;
padding-left: 50px;
}

input    {
width:500px;
display:block;
border: 1px solid #999;
height: 25px;

}

.col-left {
width: 500px;

}
#address #company {
width: 200px;
}

#address #address3 {
width: 200px;
}

#address h1 {
font-size: 14px;
}
#order-wrap {
width: 900px;

background: url("../images/bg1.jpg");
margin: 0 auto;
margin-top: 40px;
font-family: 'Droid Sans', sans-serif;
border: 1px solid #cdcdcd;
}
.customer-partial {
width: 500px;
height: 200px;

float: left;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-state-default {
background: url("../images/title-box.gif") repeat-x scroll 0 0 #303437;
    border-bottom: 15px solid #DDDDDD;
    border-left: 1px solid #FFFFFF;
    color: #FDFDFD;
    font-size: 15px;
    height: 60px;
    width: 245px !important;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}

.odd {
background-color: #F8F8F8;
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #FFFFFF;
	text-align: center;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 50px;
	color: #7A7D80;
	}
	
.even {
background-color: #EEE;
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #FFFFFF;
	text-align: center;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #7A7D80;
	height: 50px;
	}
	
.sorting_1 {
background-image: url("../images/arrow-sidebar.png");
    background-position: 53px 16px;
    background-repeat: no-repeat;
    display: block;
    line-height: 47px;
    padding: 0;
	cursor: pointer;
}

.sorting_1:hover {
color: #222;

}	

.planningGridOdd {
background-color: #F8F8F8;
    border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #FFFFFF;
	text-align: center;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	height: 50px;
	color: #7A7D80;
	}
	
#ordersTable_info {
margin-top: 10px;
}	

#wrapper-footer {
background: none repeat scroll 0 0 #DEDFDF;
height: 200px;
}

#banner-footer {
      background: none repeat scroll 0 0 #D4D4D4;
    height: 93px;
    margin: 0 auto;
    padding: 11px 0;
    width: 988px;
}

#ordersTable_paginate {
width: 100px;
height: 50px;
}

#ordersTable_previous {
height: 50px;
width: 50px;
}

 .tooltip {
    display:none;
    background:transparent url(/media/img/tooltip/black_arrow.png);
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
  }