


<div id="address">
	<h1>Delivery Information:</h1>{{order.zip}}
	<div class="col-left">
	<label>
<div style="float: left; margin-right: 20px;">
	<span><%= __('Company') %></span><input id="company" type="text" name="name" style="width:200px;"/>
</label>
</div>
<div style="width: 250px; float: right;">
<label>
<span>Phone #</span><input id="phone" type="text" name="phone" style="width:200px;" value={{ order.zip }}/>
</label>
</div>
<div style="float: left;">
<label>
<span>Address</span><input id="address1" type="text" name="subject" />
</label>
</div>
<div style="float: left;">
<label>
<span>Address 2</span><input id="address2" type="text" name="subject" />
</label>
</div>
</div>

<div style="float: left;">
<label>
<span>Address 3</span><input id="address3" type="text" name="subject" />
</label>
</div>
<div style="float: right; width: 280px;">
<label>
<span>State/Province/Region</span><input id="state" type="text" name="phone" style="width:200px;"/>
</label>
</div>
<div style="float: left;">
<label>
<span>Postal / Zip Code</span><input id="postal" type="text" name="subject" style="width:200px;"  />
</label>
</div>
<div style="float: right; width: 280px;">
<label>
<span>Country</span><input id="country" type="text" name="phone" style="width:200px;"/>
</label>
</div>


</div>
