

<div id="delivery-contact>
<div style="float: left; margin-right: 20px;">
	<span>Delivery Contact</span><input id="company" type="text" name="name" style="width:200px;"/>
</label>
</div>

<div>
<!---insert delivery address partial--->

</div>

<div id="wrap" style="width: 633px;">
	<div style="margin-right: 20px; float:left;">
	<span>Requested Date</span><input id="request date" type="text" name="name" style="width:200px;"/>
</label>
</div>
<div style="margin-right: 20px; float:right;">
	<span>Delivery Date</span><input id="delivery date" type="text" name="name" style="width:200px;"/>
</label>
</div>
</div>
<div id="delivery-instructions">
<div>
         <label>
          <span></span><textarea rows="10" cols="30" style="width:400px; height:140px;">Delivery Instructions </textarea>
         </label>
	</div>
</div>

</div>

