<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Orders Sandbox</title>
  <meta name="description" content="Orders Sandbox">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="/stylesheets/style.css?v=1.0">
  <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.23/themes/ui-lightness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/css/jquery.dataTables.css">
  <link href="/menu_assets/styles.css" rel="stylesheet" type="text/css">
  <!--
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/css/jquery.dataTables_themeroller.css">
  -->
  <link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>  
	<header>
	<div id="headwrap">
	<% include navigation.html %>
	</div>
	</header>
	<div id="container">
		
		<div id="wrapper">
   
	<div id="contentwrap">
	<div id="content">
	
		</div>
	</div>
	</div>
	</div>

	<footer>
	</footer>
	
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
	<script>window.jQuery || document.write('<script src="/javascripts/vendors/jquery-1.8.2.min.js"><\/script>')</script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.23/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/jquery.dataTables.min.js"></script>
	<!--
	<script type="text/javascript" src="javascripts/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/lib/jquery-ui.min.js"></script>
	-->
	<script type="text/javascript" src="javascripts/lib/jquery.validate.min.js"></script>
	<script type="text/javascript" src="javascripts/lib/additional-methods.min.js"></script>
	<script type="text/javascript" src="javascripts/lib/amplify.js"></script>
	<script type="text/javascript" src="javascripts/lib/underscore.js"></script>
	<script type="text/javascript" src="javascripts/lib/jquery.json-2.3.min.js"></script>
	<script type="text/javascript" src="javascripts/lib/handlebars-1.0.0.beta.6.js"></script>
	

	<!--
	<script type="text/javascript" src="http://localhost:4242/socket.io/socket.io.js"></script>
	-->
	<script src="javascripts/lib/require.js" data-main="javascripts/main"></script>  
	
</body>
</html>
