<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Orders Sandbox</title>
  <meta name="description" content="Orders Sandbox">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="/stylesheets/style.css?v=1.0">
  <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.23/themes/ui-lightness/jquery-ui.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>  
	<header>
	</header>
    <div id="content">
	</div>
	<footer>
	</footer>
	
	<script type="text/javascript" src="javascripts/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="javascripts/lib/amplify.js"></script>
	<script type="text/javascript" src="javascripts/lib/underscore.js"></script>
	<script type="text/javascript" src="javascripts/lib/handlebars-1.0.0.beta.6.js"></script>
	<script type="text/javascript" src="javascripts/lib/sammy.js"></script>
	<script type="text/javascript" src="javascripts/lib/sammy.handlebars.js"></script>
	<script src="javascripts/lib/require.js" data-main="javascripts/main"></script>  
</body>
</html>
