
	<div id='cssmenu'>
<ul>

   <li class='has-sub '><a href='#'><span><%= __('Projects') %></span>
   <img src="/images/create_write.png" style="float: left; padding-top: 12px;" />
   </a>
   
   
      <ul>
         <li class='has-sub '><a href='#'><span><%= __('List') %></span></a></li>
         <li class='has-sub '><a href='#'><span><%= __('New') %></span></a></li>
		 <li class='has-sub '><a href='#'><span><%= __('Edit') %></span></a></li>
      </ul>
   </li>
   <li class='has-sub '><a href='#/orders'><span><%= __('Orders') %></span>
   <img src="/images/frames.png" style="float: left; padding-top: 12px;" />
   </a>
      <ul>
         <li class='has-sub '><a href='#/orders'><span><%= __('List') %></span></a></li>
         <li class='has-sub '><a href='#'><span><%= __('New') %></span></a></li>
		 <li class='has-sub '><a href='#/orders/edit/7'><span><%= __('Edit') %></span></a></li>
      </ul>
   </li>
   <li class='has-sub '><a href='#'><span><%= __('Customers') %></span>
   <img src="/images/images.png" style="float: left; padding-top: 12px;" />
   </a>
      <ul>
         <li class='has-sub '><a href='#/orders'><span><%= __('List') %></span></a></li>
         <li class='has-sub '><a href='#'><span><%= __('New') %></span></a></li>
		 <li class='has-sub '><a href='#'><span><%= __('Edit') %></span></a></li>
      </ul>
   </li>
</ul>
</div>

