
	
<div>
	<div id="accordion" class="ui-widget">
		<p>
		<a href="#"><%= __('Projects') %></a>
		<div>
			<%= __('List') %><br>
			<%= __('New') %><br>
			<%= __('Edit') %><br>
		</div>
		<p>
		<a href="#"><%= __('Orders') %></a>
		<div>
			<a href="#/orders"><%= __('List') %></a><br>
			<a href="#"><%= __('New') %></a><br>
			<a href="#"><%= __('Edit') %></a><br>
		</div>
		<p>
		<a href="#"><%= __('Customers') %></a>
		<div>
			<%= __('List') %><br>
			<%= __('New') %><br>
			<%= __('Edit') %><br>
		</div>
	</div>
</div>


