
	<div id='cssmenu'>
<ul>

   <li class='has-sub '><a href='#'><span><%= __('Projects') %></span>
 
   </a>
   
   
      <ul>
         <li class='has-sub '><a href='#'><span><%= __('List') %></span></a></li>
         <li class='has-sub '><a href='#'><span><%= __('New') %></span></a></li>
		 <li class='has-sub '><a href='#'><span><%= __('Edit') %></span></a></li>
      </ul>
   </li>
   <li class='has-sub '><a href='#/orders'><span><%= __('Orders') %></span>
  
   </a>
      <ul>
         <li class='has-sub '><a href='#' id='orderList'><span><%= __('List') %></span></a></li>
         <li class='has-sub '><a href='#' id='orderNew'><span><%= __('New') %></span></a></li>
		 <li class='has-sub '><a href='#' id='orderEdit'><span><%= __('Edit') %></span></a></li>
      </ul>
   </li>
   <li class='has-sub '><a href='#'><span><%= __('Customers') %></span>
   
   </a>
      <ul>
         <li class='has-sub '><a href='#/orders'><span><%= __('List') %></span></a></li>
         <li class='has-sub '><a href='#'><span><%= __('New') %></span></a></li>
		 <li class='has-sub '><a href='#'><span><%= __('Edit') %></span></a></li>
      </ul>
   </li>
</ul>
</div>

