<html>
<head>
<style>


.lookup {
    background: none repeat scroll 0 0 red;
    cursor: pointer;
    height: 25px;
    line-height: 1.5;
    margin-left: 312px;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 25px;
}

#newcustomer {
height: 25px;
}

</style>
</head>
<body>
<div id="newcustomer">
<div style="width: 300px; padding-left: 60px; padding-top: 20px;">
<label>
<span>Customer</span><input id="newCustomer" type="text" name="Customer" style="width:227px;" value="{{ customer.value.code }}"/>
</label>

</div>

<img class="Custosearch" style="position:absolute; margin-left: 296px; top: 134px; cursor: pointer;" src="../images/searchicon.png">
</div>


</body>
</html>