



<html>
<head>
<style>
.order-nav {
height: 40px;
width: 900px;
}
.order-nav h2 {
 font-family: 'Quando',serif;
    font-size: 18px;
    padding-left: 40px;
    padding-top: 2px;
	text-transform: uppercase;
}
</style>
</head>
<body style="width: 100%; height: 100%">
<div id="order-wrap">
	<div class="order-nav">
	<h2>Order Edit - {{ code }}</h2>
	</div>
	<div class="contain" style="width: 875px; height: 200px; background-color: rgba(0,0,0,.40); margin: 0 auto;">

	<div class="customer-partial">{{> newCustomer }}</div> <!--insert customer partial-->
<div id="wrap" style="float: right; width:200px; margin-right:28px; margin-top:17px;">	
	<div style="float: right; margin-bottom: 10px;">
	<span>Date</span><input id="date" type="text" name="date" style="width:200px;"/>
</label>
</div>
<div style="float: right; margin-bottom: 10px;">
<label>
<span>Code</span><input id="code" type="text" name="code" style="width:200px;" value="{{ code }}"/>
</label>
</div>
<div style="float: right; margin-bottom: 10px;">
<label>
<span>PO Number</span><input id="ponumber" type="text" name="ponumber" style="width:200px;" value="{{ poNumber }}" />
</label>
	</div>
</div>
	</div>
	    <!--insert delivery contact partial-->
	<div id="items-partial" style="width:875px; height:200px; background:#dedede; margin: 0 auto; margin-top:10px;"></div> <!--insert items partial-->
	
	<div id="delivery-partial" style="width:875px; margin: 0 auto; margin-top:10px; margin-bottom: 20px;"> {{>deliveryContact}} </div> 

	<div id="notes" style="width:500px; height:160px; margin-top:24px; padding-left: 12px;">
		
         <label>
          <span></span><textarea rows="10" cols="30" style="width:400px; height:140px; margin-left: 7px; background: #f1f1f1;">Customer Notes</textarea>
         </label>
	
	</div>
	
	<div class="clearfix"></div>
	</div>

</body>
</html>



