

<div id="order-wrap">
	<div class="contain" style="width: 875px; height: 200px; background: #999; margin: 0 auto;">

	<div class="customer-partial"></div> 
<div id="wrap" style="float: right; width:200px; margin-right:28px; margin-top:17px;">	
	<div style="float: right;">
	<span>Date</span><input id="date" type="text" name="date" style="width:200px;"/>
</label>
</div>
<div style="float: right;">
<label>
<span>Code</span><input id="code" type="text" name="code" style="width:200px;" value="{{ code }}"/>
</label>
</div>
<div style="float: right;">
<label>
<span>PO Number</span><input id="ponumber" type="text" name="ponumber" style="width:200px;" value="{{ poNumber }}" />
</label>
	</div>
</div>
	</div>
	
	<div id="items-partial" style="width:875px; height:200px; background:#dedede; margin: 0 auto; margin-top:10px;"></div> <!--insert items partial-->
	
	<div id="delivery-partial" style="width:875px; height:200px; background:#dcdcdc; margin: 0 auto; margin-top:10px;"> {{>deliveryContact }}</div> <!--insert delivery contact partial-->

	<div id="notes" style="width:500px; height:160px; margin-top:24px; padding-left: 12px;">
		<div>
         <label>
          <span></span><textarea rows="10" cols="30" style="width:400px; height:140px;">Customer Notes</textarea>
         </label>
	</div>
	</div>
	
	</div>
</div>


